form.login-form {
  .input-box {
    @include flex(center, center, column);
    label {
      text-align: center;
    }
    input {
      width: 32rem;
      height: 5rem;
      margin-top: 2rem;
      align-self: center;
      &::placeholder {
        text-align: center;
        font-weight: 700;
      }
    }
  }
  button {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  form.login-form {
    font-size: $p-mobile-font;
    .input-box {
      max-width: 32rem;
      width: 80%;
      input {
        width: 100%;
        font-size: $p-mobile-font;
      }
    }
  }
}
