// Global variables

$h1-font: 4.8rem;
$h2-font: 2.8rem;
$h3-font: 2.4rem;
$p-font: 2rem;
$p-small-font: 1.8rem;

$h1-mobile-font: calc($h1-font - 1.4rem);
$h2-mobile-font: calc($h2-font - 0.4rem);
$h3-mobile-font: calc($h3-font - 0.2rem);
$p-mobile-font: calc($p-font - 0.2rem);
$p-small-mobile-font: calc($p-small-font - 0.2rem);

$primary-color: #202e45;
$secondary-color: #f4f3ff;
$secondary-color-hover: #d6d1ff;

$button-background-color: #4c4698;
$button-background-color-hover: #7c79ad;
$button-font-color: white;

$book-button-background-color: #627b1e;
$book-button-background-color-hover: #799825;

$cancel-button-background-color: #f00400;
$cancel-button-background-color-hover: #ff4a47;

$nav-font-color: #a8c7fa;
$nav-font-color-hover: white;
$nav-active-font-color: #ffdd00;
$nav-divider-color: #4c4698;

$menu-font-color: white;

$card-background-color: white;

$input-background-color: white;

$link-color: #0a364c;
$link-color-hover: #115679;

$calendar-checkbox-background-color: #177db0;
$calendar-checkbox-color: white;

//Global functions

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

// Global styling

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: $primary-color;
  overflow: hidden;
}

h1 {
  font-size: $h1-font;
  color: $primary-color;
  text-align: center;
  margin: 0 1rem;
}

h1.homepage-title {
  width: 68rem;
  margin: 0;
}

h2,
legend {
  font-size: $h2-font;
  color: $primary-color;
  margin: 0 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h3 {
  font-size: $h3-font;
  color: $primary-color;
  font-weight: 700;
  margin: 0 1rem;
}

ul {
  font-size: $p-font;
  font-weight: 700;
}

p {
  display: block;
  font-size: $p-font;
  color: $primary-color;
  text-align: center;
  line-height: 2.4rem;
}

a {
  text-align: center;
  font-size: $p-font;
}

span {
  font-size: $p-font;
}

/* Styling for text */

.bold {
  font-weight: 700;
}

/* Styling for links (excluding the ones in the footer) */

.link {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
}

main {
  @include flex(center, normal, column);
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 102.4rem;
  min-height: 65vh;
  margin: auto;
  background-color: $secondary-color;
}

span.divider {
  display: block;
  width: 60rem;
  height: 0.1rem;
  background-color: $primary-color;
  opacity: 0.3;
  margin: 3rem auto 4.8rem auto;
}

/* Styling for buttons and links that look like buttons */

button,
a.button {
  text-decoration: none;
  font-size: $p-font;
  color: $button-font-color;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.book-trip,
.login,
.change-booking,
.cancel-booking {
  padding: 1.5rem 6.8rem;
  border-radius: 1.5rem;
  text-align: center;
}

.book-trip {
  background-color: $book-button-background-color;
  &:hover {
    background-color: $book-button-background-color-hover;
  }
}

.login {
  background-color: $button-background-color;
  &:hover {
    background-color: $button-background-color-hover;
  }
}

.change-booking {
  background-color: $button-background-color;
  &:hover {
    background-color: $button-background-color-hover;
  }
}

.cancel-booking {
  background-color: $cancel-button-background-color;
  &:hover {
    background-color: $cancel-button-background-color-hover;
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 5rem 0;
  }
  h1 {
    font-size: $h1-mobile-font;
    hyphens: manual;
  }
  h1.homepage-title {
    width: 90%;
  }
  h2,
  legend {
    font-size: $h2-mobile-font;
  }
  h3 {
    font-size: $h3-mobile-font;
  }
  ul {
    font-size: $p-mobile-font;
  }
  p,
  a {
    font-size: $p-mobile-font;
  }

  button {
    font-size: $p-mobile-font;
  }

  span {
    font-size: $p-mobile-font;
  }
  span.divider {
    width: 30rem;
    margin: 2.5rem auto 4.3rem auto;
  }
}
