// Global variables

$h1-font: 4.8rem;
$h2-font: 2.8rem;
$h3-font: 2.4rem;
$p-font: 2rem;

$p-mobile-font: calc(2rem - 0.2rem);

$primary-color: #202e45;
$secondary-color: #f4f3ff;
$secondary-color-hover: #d6d1ff;

$button-background-color: #4c4698;
$button-background-color-hover: #7c79ad;
$button-font-color: white;

$book-button-background-color: #627b1e;
$book-button-background-color-hover: #799825;

$nav-font-color: #a8c7fa;
$nav-divider-color: #4c4698;

$menu-font-color: white;

$card-background-color: white;

//Global functions

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

// Global styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: $primary-color;
  overflow: hidden;
}

h1 {
  font-size: $h1-font;
  color: $primary-color;
  text-align: center;
}

h3 {
  font-size: $h3-font;
  color: $primary-color;
  font-weight: 400;
}

ul {
  font-size: $p-font;
  font-weight: 700;
}

p {
  display: block;
  font-size: $p-font;
  color: $primary-color;
  text-align: center;
}

button {
  font-size: $p-font;
  color: $button-font-color;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

span {
  font-size: $p-font;
}

main {
  @include flex(center, normal, column);
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 102.4rem;
  min-height: 65vh;
  margin: auto;
  background-color: $secondary-color;
}

span.divider {
  display: block;
  width: 60rem;
  height: 0.1rem;
  background-color: $primary-color;
  opacity: 0.3;
  margin: 3rem auto 4.8rem auto;
}

form {
  @include flex(center, center, column);
  font-size: $p-font;
  color: $primary-color;
  .input-box {
    @include flex(center, center, column);
    input {
      width: 32rem;
      height: 6.4rem;
      text-align: center;
      margin-top: 2rem;
      border: 0.1rem solid $primary-color;
      border-radius: 1.5rem;
      font-size: $p-font;
    }
  }
  button {
    padding: 1.5rem 6.8rem;
    margin: 2rem 0;
    border-radius: 1.5rem;
    font-size: $p-font;
  }
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 5rem 0;
  }
  h1 {
    font-size: calc($h1-font - 1.4rem);
  }
  ul {
    font-size: $p-mobile-font;
  }
  p {
    font-size: $p-mobile-font;
  }

  button {
    font-size: $p-mobile-font;
  }

  span {
    font-size: $p-mobile-font;
  }
  span.divider {
    width: 30rem;
    margin: 2.5rem auto 4.3rem auto;
  }
}
