// Global variables

$h1-font: 4.8rem;
$h2-font: 2.8rem;
$h3-font: 2.4rem;
$p-font: 2rem;

$primary-color: #202e45;
$secondary-color: #f4f3ff;
$secondary-color-hover: #d6d1ff;

$button-background-color: #4c4698;
$button-background-color-hover: #7c79ad;
$button-font-color: white;

$nav-font-color: #a8c7fa;
$nav-divider-color: #4c4698;

$menu-font-color: white;

//Global functions

@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

// Global styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: $primary-color;
}

h1 {
  font-size: $h1-font;
  color: $primary-color;
  text-align: center;
  margin: auto;
}

h3 {
  font-size: $h3-font;
  color: $primary-color;
  font-weight: 400;
}

p {
  display: block;
  font-size: $p-font;
  color: $primary-color;
  text-align: center;
}

span {
  font-size: $p-font;
}

main {
  padding-top: 10rem;
  max-width: 102.4rem;
  min-height: 70vh;
  margin: auto;
  background-color: $secondary-color;
}

span.divider {
  display: block;
  max-width: 60rem;
  height: 0.1rem;
  background-color: $primary-color;
  opacity: 0.3;
  margin: 3rem auto 4.8rem auto;
}

footer {
  @include flex(center, space-between, row);
  max-width: 102.4rem;
  min-height: 10vh;
  margin: auto;
  .contact {
    margin: 2rem 0 2rem 2rem;
    p {
      text-align: left;
      color: $secondary-color;
      a {
        color: $secondary-color;
      }
    }
  }
  ul.socials {
    @include flex(center, space-between, row);
    list-style: none;
    li {
      margin-right: 2rem;
      a {
        @include flex(center, center, column);
        svg {
          fill: $secondary-color;
        }
        &:hover {
          svg {
            fill: $secondary-color-hover;
          }
        }
      }
    }
  }
}

form {
  @include flex(center, center, column);
  font-size: $p-font;
  color: $primary-color;
  .input-box {
    @include flex(center, center, column);
    input {
      width: 32rem;
      height: 6.4rem;
      text-align: center;
      margin-top: 2rem;
      border: 0.1rem solid $primary-color;
      border-radius: 1.5rem;
      font-size: $p-font;
    }
  }
  button {
    padding: 1.5rem 6.8rem;
    margin: 2rem 0;
    border-radius: 1.5rem;
    border: none;
    color: $button-font-color;
    font-size: $p-font;
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  span.divider {
    width: 30rem;
  }

  footer {
    @include flex(center, center, column);
    .contact {
      p {
        text-align: center;
      }
    }
    ul.socials {
      margin-bottom: 2rem;
      li:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
