header {
  position: relative;
  @include flex(normal, space-between, row);
  width: 102.4rem;
  height: 10.8rem;
  margin: auto;
  .logo {
    @include flex(center, center, column);
    img {
      height: 4.5rem;
    }
  }
  .logo-desktop {
    width: 21.8rem;
  }
  .logo-mobile {
    display: none;
    width: 15rem;
    img {
      height: 7rem;
    }
  }
  .burgerking {
    @include flex(center, center, row);
    width: 16.4rem;
    background-color: $secondary-color;
    color: $primary-color;
    .menu {
      margin-right: 2.2rem;
      font-weight: 400;
    }
    .line-container {
      position: relative;
      @include flex(center, space-between, column);
      width: 3.3rem;
      height: 2.2rem;
      .line {
        width: 3.3rem;
        height: 0.2rem;
        background-color: $primary-color;
        transition: all 0.75s ease;
      }
      .line.toggle {
        background-color: $menu-font-color;

        &:nth-child(1) {
          transform: translateY(500%) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-500%) rotate(-45deg);
        }
      }
    }

    &:hover {
      background-color: $secondary-color-hover;
    }
  }
  .burgerking.toggle {
    background-color: $primary-color;
    color: $menu-font-color;
    &:hover {
      background-color: inherit;
    }
  }
  nav {
    position: absolute;
    top: 10.7rem;
    right: 0;
    width: 100%;
    background-color: $primary-color;
    display: none;
    animation: hideNavbar 0.5s;
    z-index: 1;
    ul.nav-links {
      list-style: none;
      li {
        margin: 2rem 0 2rem 4rem;
        a {
          color: $nav-font-color;
          text-decoration: none;
          &.active {
            color: $nav-active-font-color;
            &:hover {
              color: $nav-active-font-color;
              text-decoration: underline;
            }
          }
          &:hover {
            color: $nav-font-color-hover;
            text-decoration: underline;
          }
        }
        span.nav-divider {
          display: block;
          margin-top: 2rem;
          width: 30rem;
          height: 0.1rem;
          background-color: $nav-divider-color;
        }
      }
    }
  }

  /* Navbar animation classes */
  nav.display-block {
    display: block;
  }
  nav.showNavbar {
    animation: showNavbar 0.5s;
  }
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    .logo-desktop {
      display: none;
    }

    .logo-mobile {
      display: flex;
    }

    nav {
      width: 100%;

      ul.nav-links {
        list-style: none;
        li {
          margin: 1.5rem 0 1.5rem 4rem;
        }
      }
    }
  }
}
@keyframes showNavbar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hideNavbar {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
