h1.homepage-title {
  width: 68rem;
}

form.homepage-form {
  input {
    width: 32rem;
    height: 6.4rem;
    margin-top: 2rem;
    align-self: center;
    &::placeholder {
      text-align: center;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 768px) {
  h1.homepage-title {
    width: 90%;
  }
  form {
    font-size: $p-mobile-font;
    .input-box {
      label {
        text-align: center;
        width: 90%;
      }
      input {
        font-size: $p-mobile-font;
      }
    }
  }
}
