h1.homepage-title {
  width: 68rem;
}

form {
  button {
    background-color: $button-background-color;
    &:hover {
      background-color: $button-background-color-hover;
    }
  }
}

@media screen and (max-width: 768px) {
  h1.homepage-title {
    width: 90%;
  }
}
