@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #202e45;
  overflow: hidden;
}

h1 {
  font-size: 4.8rem;
  color: #202e45;
  text-align: center;
  margin: 0 1rem;
}

h1.homepage-title {
  width: 68rem;
  margin: 0;
}

h2,
legend {
  font-size: 2.8rem;
  color: #202e45;
  margin: 0 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
  color: #202e45;
  font-weight: 700;
  margin: 0 1rem;
}

ul {
  font-size: 2rem;
  font-weight: 700;
}

p {
  display: block;
  font-size: 2rem;
  color: #202e45;
  text-align: center;
  line-height: 2.4rem;
}

a {
  text-align: center;
  font-size: 2rem;
}

span {
  font-size: 2rem;
}

/* Styling for text */
.bold {
  font-weight: 700;
}

/* Styling for links (excluding the ones in the footer) */
.link {
  color: #0a364c;
}
.link:hover {
  color: #115679;
}

main {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 102.4rem;
  min-height: 65vh;
  margin: auto;
  background-color: #f4f3ff;
}

span.divider {
  display: block;
  width: 60rem;
  height: 0.1rem;
  background-color: #202e45;
  opacity: 0.3;
  margin: 3rem auto 4.8rem auto;
}

/* Styling for buttons and links that look like buttons */
button,
a.button {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.book-trip,
.login,
.change-booking,
.cancel-booking {
  padding: 1.5rem 6.8rem;
  border-radius: 1.5rem;
  text-align: center;
}

.book-trip {
  background-color: #627b1e;
}
.book-trip:hover {
  background-color: #799825;
}

.login {
  background-color: #4c4698;
}
.login:hover {
  background-color: #7c79ad;
}

.change-booking {
  background-color: #4c4698;
}
.change-booking:hover {
  background-color: #7c79ad;
}

.cancel-booking {
  background-color: #f00400;
}
.cancel-booking:hover {
  background-color: #ff4a47;
}

@media screen and (max-width: 1024px) {
  main {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding: 5rem 0;
  }
  h1 {
    font-size: 3.4rem;
    -webkit-hyphens: manual;
            hyphens: manual;
  }
  h1.homepage-title {
    width: 90%;
  }
  h2,
  legend {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  ul {
    font-size: 1.8rem;
  }
  p,
  a {
    font-size: 1.8rem;
  }
  button {
    font-size: 1.8rem;
  }
  span {
    font-size: 1.8rem;
  }
  span.divider {
    width: 30rem;
    margin: 2.5rem auto 4.3rem auto;
  }
}
header {
  position: relative;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  width: 102.4rem;
  height: 10.8rem;
  margin: auto;
  /* Navbar animation classes */
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .logo img {
  height: 4.5rem;
}
header .logo-desktop {
  width: 21.8rem;
}
header .logo-mobile {
  display: none;
  width: 15rem;
}
header .logo-mobile img {
  height: 7rem;
}
header .burgerking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 16.4rem;
  background-color: #f4f3ff;
  color: #202e45;
}
header .burgerking .menu {
  margin-right: 2.2rem;
  font-weight: 400;
}
header .burgerking .line-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 3.3rem;
  height: 2.2rem;
}
header .burgerking .line-container .line {
  width: 3.3rem;
  height: 0.2rem;
  background-color: #202e45;
  transition: all 0.75s ease;
}
header .burgerking .line-container .line.toggle {
  background-color: white;
}
header .burgerking .line-container .line.toggle:nth-child(1) {
  transform: translateY(500%) rotate(45deg);
}
header .burgerking .line-container .line.toggle:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
header .burgerking .line-container .line.toggle:nth-child(3) {
  top: 50%;
  transform: translateY(-500%) rotate(-45deg);
}
header .burgerking:hover {
  background-color: #d6d1ff;
}
header .burgerking.toggle {
  background-color: #202e45;
  color: white;
}
header .burgerking.toggle:hover {
  background-color: inherit;
}
header nav {
  position: absolute;
  top: 10.7rem;
  right: 0;
  width: 100%;
  background-color: #202e45;
  display: none;
  animation: hideNavbar 0.5s;
  z-index: 1;
}
header nav ul.nav-links {
  list-style: none;
}
header nav ul.nav-links li {
  margin: 2rem 0 2rem 4rem;
}
header nav ul.nav-links li a {
  color: #a8c7fa;
  text-decoration: none;
}
header nav ul.nav-links li a.active {
  color: #ffdd00;
}
header nav ul.nav-links li a.active:hover {
  color: #ffdd00;
  text-decoration: underline;
}
header nav ul.nav-links li a:hover {
  color: white;
  text-decoration: underline;
}
header nav ul.nav-links li span.nav-divider {
  display: block;
  margin-top: 2rem;
  width: 30rem;
  height: 0.1rem;
  background-color: #4c4698;
}
header nav.display-block {
  display: block;
}
header nav.showNavbar {
  animation: showNavbar 0.5s;
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header .logo-desktop {
    display: none;
  }
  header .logo-mobile {
    display: flex;
  }
  header nav {
    width: 100%;
  }
  header nav ul.nav-links {
    list-style: none;
  }
  header nav ul.nav-links li {
    margin: 1.5rem 0 1.5rem 4rem;
  }
}
@keyframes showNavbar {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hideNavbar {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 102.4rem;
  min-height: 10vh;
  margin: auto;
  z-index: 3;
}
footer .contact {
  margin: 2rem 0 2rem 2rem;
}
footer .contact p {
  text-align: left;
  color: #f4f3ff;
}
footer .contact p a {
  color: #f4f3ff;
}
footer .contact p a:hover {
  color: #d6d1ff;
}
footer ul.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}
footer ul.socials li {
  margin-right: 2rem;
}
footer ul.socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer ul.socials li a svg {
  fill: #f4f3ff;
}
footer ul.socials li a:hover svg {
  fill: #d6d1ff;
}

@media screen and (max-width: 1024px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer .contact {
    margin: 2rem 0;
  }
  footer .contact p {
    text-align: center;
    font-size: 1.8rem;
  }
  footer ul.socials {
    margin-bottom: 2rem;
  }
  footer ul.socials li:nth-child(2) {
    margin-right: 0;
  }
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
  font-size: 2rem;
  color: #202e45;
  /* Hiding arrows from input number */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
form fieldset,
form section {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
  border: none;
  width: 100%;
  margin-bottom: 5rem;
}
form fieldset legend,
form section legend {
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}
form fieldset textarea,
form section textarea {
  resize: none;
  padding-top: 0.4rem;
  padding-left: 1rem;
  border: 0.1rem solid #202e45;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-family: "Source Sans 3", sans-serif;
}
form section.price-information p {
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
form .input-container {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
}
form input {
  height: 4.5rem;
  padding-left: 1rem;
  border: 0.1rem solid #202e45;
  border-radius: 1.5rem;
  font-size: 2rem;
}
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

/* Radio button styling */
.radio-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.radio-buttons label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 3.1rem;
  transition: 0.25s ease;
  font-weight: 700;
}
.radio-buttons label:has(input:checked) {
  background-color: #d6d1ff;
}
.radio-buttons label:has(input:focus) {
  transition: none;
  outline: 0.2rem solid #202e45;
}
.radio-buttons label:hover {
  background-color: #d6d1ff;
  cursor: pointer;
}

input[type=radio],
.radio-buttons input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.7rem;
  border: 0.3rem solid #202e45;
  border-radius: 50%;
  background-color: white;
}

input[type=radio]::before,
.radio-buttons input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.73rem;
  left: 1.6rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #202e45;
}

input[type=radio]:checked::before,
.radio-buttons input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=radio]:focus,
.radio-buttons input[type=checkbox]:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  form textarea {
    max-width: 42.8rem;
    width: 80%;
    height: 15rem;
  }
  form input {
    font-size: 1.8rem;
  }
  input[type=radio]::before,
  .radio-buttons input[type=checkbox]::before {
    top: 1.6rem;
    left: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  form {
    font-size: 1.8rem;
  }
}
form.booking-form fieldset.where-to-travel .input-container .input-box {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
}
form.booking-form fieldset.where-to-travel .input-container .input-box label {
  font-weight: 700;
}
form.booking-form fieldset.where-to-travel .input-container .input-box input {
  width: 40rem;
  height: 4.5rem;
}
form.booking-form fieldset.where-to-travel .input-container .input-box input#from {
  margin-bottom: 2rem;
}
form.booking-form fieldset.how-often-to-travel .input-container,
form.booking-form fieldset.return-trip .input-container {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
  /* Changes to display flex when the user clicks on a radio button (from displayInput.js). */
  display: none;
}
form.booking-form fieldset.how-often-to-travel .input-container h3,
form.booking-form fieldset.return-trip .input-container h3 {
  text-align: center;
}
form.booking-form fieldset.how-often-to-travel .input-container .input-box label,
form.booking-form fieldset.return-trip .input-container .input-box label {
  font-weight: 700;
}
form.booking-form fieldset.how-often-to-travel .input-container .input-box input,
form.booking-form fieldset.return-trip .input-container .input-box input {
  width: 20rem;
  height: 4.5rem;
}
form.booking-form fieldset.how-often-to-travel .input-container .radio-buttons,
form.booking-form fieldset.return-trip .input-container .radio-buttons {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
}
form.booking-form fieldset.how-often-to-travel .input-container .radio-buttons .row,
form.booking-form fieldset.return-trip .input-container .radio-buttons .row {
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container,
form.booking-form fieldset.return-trip .input-container .calendar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 39rem;
  flex-wrap: wrap;
  gap: 1rem;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox]:not(:checked),
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox]:checked,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox]:not(:checked),
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox]:checked {
  /* Can't do display:none because that'll make the checkboxes non-focusable with the keyboard (i.e. cant be accessed via tabbing). */
  /* So instead I place the input somewhere far, far away, making it "dissappear". But it's still accessible via the label.*/
  position: absolute;
  /* It's over 9000! */
  left: -9000%;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox] + label,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox] + label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  color: #202e45;
  background-color: white;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 0.2rem #202e45;
  transition: all 0.175s ease;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox] + label:hover,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox] + label:hover {
  cursor: pointer;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox] + label.day-last,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox] + label.day-last {
  width: 20rem !important;
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox]:checked + label,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox]:checked + label {
  background-color: #d6d1ff;
  box-shadow: inset 0 0 0.6rem 0.2rem rgba(0, 0, 0, 0.25);
}
form.booking-form fieldset.how-often-to-travel .input-container .calendar-container input[type=checkbox]:focus + label,
form.booking-form fieldset.return-trip .input-container .calendar-container input[type=checkbox]:focus + label {
  background-color: #d6d1ff;
}
form.booking-form fieldset.how-often-to-travel .input-container.weekly .input-boxes-container,
form.booking-form fieldset.how-often-to-travel .input-container.monthly .input-boxes-container,
form.booking-form fieldset.return-trip .input-container.weekly .input-boxes-container,
form.booking-form fieldset.return-trip .input-container.monthly .input-boxes-container {
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
form.booking-form fieldset.how-often-to-travel .input-container.weekly .input-box.day,
form.booking-form fieldset.how-often-to-travel .input-container.weekly .input-box.calendar.day,
form.booking-form fieldset.how-often-to-travel .input-container.monthly .input-box.day,
form.booking-form fieldset.how-often-to-travel .input-container.monthly .input-box.calendar.day,
form.booking-form fieldset.return-trip .input-container.weekly .input-box.day,
form.booking-form fieldset.return-trip .input-container.weekly .input-box.calendar.day,
form.booking-form fieldset.return-trip .input-container.monthly .input-box.day,
form.booking-form fieldset.return-trip .input-container.monthly .input-box.calendar.day {
  display: none;
}
form.booking-form fieldset.how-often-to-travel .input-container.weekly .input-box.day.show,
form.booking-form fieldset.how-often-to-travel .input-container.weekly .input-box.calendar.day.show,
form.booking-form fieldset.how-often-to-travel .input-container.monthly .input-box.day.show,
form.booking-form fieldset.how-often-to-travel .input-container.monthly .input-box.calendar.day.show,
form.booking-form fieldset.return-trip .input-container.weekly .input-box.day.show,
form.booking-form fieldset.return-trip .input-container.weekly .input-box.calendar.day.show,
form.booking-form fieldset.return-trip .input-container.monthly .input-box.day.show,
form.booking-form fieldset.return-trip .input-container.monthly .input-box.calendar.day.show {
  display: flex;
}
form.booking-form .radio-and-input {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
}
form.booking-form .radio-and-input .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* Changes to display flex when the user clicks on a radio button (from displayInput.js). */
  display: none;
  gap: 2rem;
}
form.booking-form .radio-and-input .input-container .input-box {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
}
form.booking-form .radio-and-input .input-container .input-box label {
  font-weight: 700;
}
form.booking-form .radio-and-input .input-container .input-box input {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  form.booking-form fieldset.where-to-travel .input-container {
    max-width: 40rem;
    width: 80%;
  }
  form.booking-form fieldset.where-to-travel .input-container .input-box input {
    width: 100%;
  }
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.monthly .calendar-container,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.monthly .calendar-container {
    width: 37rem;
  }
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.monthly .calendar-container label,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.monthly .calendar-container label {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.8rem;
  }
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.weekly .input-boxes-container,
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.monthly .input-boxes-container,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.weekly .input-boxes-container,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.monthly .input-boxes-container {
    width: 100%;
  }
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.weekly .input-box.day,
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.monthly .input-box.day,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.weekly .input-box.day,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.monthly .input-box.day {
    display: none;
  }
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.weekly .input-box.day.show,
  form.booking-form fieldset.how-often-to-travel .radio-and-input .input-container.monthly .input-box.day.show,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.weekly .input-box.day.show,
  form.booking-form fieldset.return-trip .radio-and-input .input-container.monthly .input-box.day.show {
    display: flex;
  }
  form.booking-form fieldset .radio-and-input .input-container {
    width: 80%;
  }
  form.booking-form fieldset .radio-and-input .input-container .input-box input {
    max-width: 20rem;
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  form.booking-form fieldset.how-often-to-travel .input-container .radio-buttons {
    gap: 0;
  }
  form.booking-form fieldset.how-often-to-travel .input-container .radio-buttons .row {
    flex-wrap: wrap;
    gap: 0;
  }
  form.booking-form fieldset.how-often-to-travel .input-container .radio-buttons .row label {
    margin: 0.5rem 1rem;
  }
}
form.login-form .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form.login-form .input-box label {
  text-align: center;
}
form.login-form .input-box input {
  width: 32rem;
  height: 5rem;
  margin-top: 2rem;
  align-self: center;
}
form.login-form .input-box input::-moz-placeholder {
  text-align: center;
  font-weight: 700;
}
form.login-form .input-box input::placeholder {
  text-align: center;
  font-weight: 700;
}
form.login-form button {
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  form.login-form {
    font-size: 1.8rem;
  }
  form.login-form .input-box {
    max-width: 32rem;
    width: 80%;
  }
  form.login-form .input-box input {
    width: 100%;
    font-size: 1.8rem;
  }
}
.accordion-container {
  width: 60rem;
}
.accordion-container .accordion {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #4c4698;
  padding: 1.5rem 3rem;
}
.accordion-container .accordion .accordion-title {
  margin-left: 1rem;
}
.accordion-container .accordion .accordion-icon {
  transition: 0.15s ease-in-out;
}
.accordion-container .accordion:hover {
  background-color: #7c79ad;
}
.accordion-container .accordion[aria-expanded=true] .accordion-icon {
  transform: rotate(-180deg);
}
.accordion-container .accordion-panel {
  margin-top: 2rem;
}
.accordion-container .accordion-panel a {
  text-decoration: none;
}
.accordion-container .accordion-panel a .card {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: solid #202e45 0.1rem;
  border-radius: 1.5rem;
  background-color: white;
}
.accordion-container .accordion-panel a .card .card-info-container .card-info {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
}
.accordion-container .accordion-panel a .card .card-info-container .card-info img {
  align-self: center;
  margin-right: 1rem;
}
.accordion-container .accordion-panel a .card .card-info-container .card-info .from-to p {
  text-align: start;
}
.accordion-container .accordion-panel a .card .card-info-container .card-info.destination {
  margin-bottom: 1rem;
}
.accordion-container .accordion-panel a .card img {
  align-self: flex-start;
}
.accordion-container .accordion-panel.hidden {
  display: none;
}
.accordion-container h3 {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .accordion-container {
    width: 95%;
  }
  .accordion-container .accordion-panel a .card {
    padding: 1.5rem 1rem;
  }
  .accordion-container .accordion-panel a .card .card-info-container .card-info img {
    margin-top: 0.7rem;
    width: 2.4rem;
    height: 2.4rem;
    align-self: flex-start;
  }
  .accordion-container .accordion-panel a .card img {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 0.5rem;
  }
  .accordion-container h3 {
    text-align: center;
  }
}
main.min-profil .profile-information {
  width: 60rem;
  padding-bottom: 3rem;
}
main.min-profil .profile-information .info-card {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  margin-bottom: 2rem;
}
main.min-profil .profile-information .info-card p {
  text-align: start;
}
main.min-profil .profile-information .info-card img {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
}
main.min-profil section h2 {
  text-align: center;
}
main.min-profil section p {
  margin: 0 1rem;
}
main.min-profil section p a {
  color: #0a364c;
}
main.min-profil section p a:hover {
  color: #115679;
}

@media screen and (max-width: 768px) {
  main.min-profil .profile-information {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  main.min-profil .profile-information .info-card {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: row;
    width: 30rem;
    margin-bottom: 2rem;
  }
  main.min-profil .profile-information .info-card p {
    text-align: start;
  }
  main.min-profil .profile-information .info-card img {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1rem;
  }
}
main.kontakt section {
  margin: 1rem 0;
  max-width: 60rem;
}
main.kontakt section h2 {
  margin: 0;
  line-height: 3rem;
}
main.kontakt section p {
  margin: 1.4rem 0;
  text-align: start;
}

@media screen and (max-width: 768px) {
  main.kontakt section {
    width: 100%;
  }
  main.kontakt section h2 {
    margin: 0 1rem;
  }
  main.kontakt section p {
    margin: 1.4rem 1rem;
  }
}
main.om-färdtjänst .information,
main.om-färdtjänst section {
  margin: 1rem 0;
  max-width: 60rem;
}
main.om-färdtjänst .information h3,
main.om-färdtjänst section h3 {
  margin: 0;
  margin-top: 2rem;
  line-height: 2.7rem;
}
main.om-färdtjänst .information h2,
main.om-färdtjänst section h2 {
  margin: 0;
}
main.om-färdtjänst .information p,
main.om-färdtjänst section p {
  margin: 1.4rem 0;
  text-align: start;
}
main.om-färdtjänst .information ul,
main.om-färdtjänst section ul {
  margin-left: 4rem;
  font-weight: 400;
  line-height: 3rem;
}
main.om-färdtjänst .information p:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  main.om-färdtjänst section {
    width: 100%;
  }
  main.om-färdtjänst section h2 {
    margin: 0 1rem;
  }
  main.om-färdtjänst section h3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  main.om-färdtjänst section p {
    margin: 1.4rem 1rem;
  }
  main.om-färdtjänst .information {
    width: 100%;
  }
  main.om-färdtjänst .information p {
    margin: 1.4rem 1rem;
  }
}
main.avgifter-för-färdtjänst section {
  margin: 1rem 0;
  width: 60rem;
  /* The wrapper is necessary for margin-right to work when used with table width 100%. Otherwise only margin-left will work. */
  /* The .table-wrapper margins can be found inside the media query. */
}
main.avgifter-för-färdtjänst section h2 {
  margin: 0;
}
main.avgifter-för-färdtjänst section p {
  margin: 1.4rem 1rem;
  text-align: start;
}
main.avgifter-för-färdtjänst section .table-wrapper table {
  width: 100%;
  color: #202e45;
  font-size: 2rem;
  border-collapse: collapse;
}
main.avgifter-för-färdtjänst section .table-wrapper table thead {
  border-bottom: 0.1rem solid #202e45;
}
main.avgifter-för-färdtjänst section .table-wrapper table thead tr td {
  padding: 1rem 0;
}
main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:first-child {
  width: 25rem;
}
main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:nth-child(2) {
  width: 25rem;
}
main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:nth-child(3) {
  width: 10rem;
}
main.avgifter-för-färdtjänst section .table-wrapper table tbody tr {
  border-bottom: 0.1rem solid rgba(32, 46, 69, 0.3);
}
main.avgifter-för-färdtjänst section .table-wrapper table tbody tr td {
  padding: 1rem 0;
}
main.avgifter-för-färdtjänst section .img-wrapper {
  width: 67.5rem;
  height: 59.1rem;
}
main.avgifter-för-färdtjänst section .img-wrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  main.avgifter-för-färdtjänst section {
    max-width: 40rem;
    width: 100%;
  }
  main.avgifter-för-färdtjänst section h2 {
    margin: 0 1rem;
  }
  main.avgifter-för-färdtjänst section .table-wrapper {
    margin: 0 1rem;
  }
  main.avgifter-för-färdtjänst section .table-wrapper table {
    font-size: 1.8rem;
  }
  main.avgifter-för-färdtjänst section .table-wrapper table thead tr td {
    padding: 1rem 0;
  }
  main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:first-child {
    width: 50%;
  }
  main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:nth-child(2) {
    width: 30%;
  }
  main.avgifter-för-färdtjänst section .table-wrapper table thead tr td:nth-child(3) {
    width: 20%;
  }
  main.avgifter-för-färdtjänst section .img-wrapper {
    width: 100%;
    height: 100%;
  }
}
main.bekräftad-resa .travel-information {
  width: 60rem;
}
main.bekräftad-resa .travel-information .travel-status-info-cards {
  width: 20rem;
  margin: auto;
  margin-bottom: 5rem;
}
main.bekräftad-resa .travel-information .travel-status-info-cards .info-card {
  margin-bottom: 1.5rem;
}
main.bekräftad-resa .travel-information .destination-info-cards {
  margin-bottom: 3rem;
}
main.bekräftad-resa .travel-information .destination-info-cards .info-card {
  margin-bottom: 1rem;
}
main.bekräftad-resa .travel-information .info-card {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  margin-bottom: 3rem;
  color: #202e45;
}
main.bekräftad-resa .travel-information .info-card p {
  text-align: start;
}
main.bekräftad-resa .travel-information .info-card img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
main.bekräftad-resa .travel-information .info-card img.message {
  align-self: flex-start;
}
main.bekräftad-resa .travel-information .button-container {
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: column;
}
main.bekräftad-resa .travel-information .button-container a:first-child {
  margin-bottom: 3rem;
}
main.bekräftad-resa .travel-information p.notice {
  font-size: 1.8rem;
  max-width: 40rem;
  margin: auto;
}
main.bekräftad-resa section h2 {
  text-align: center;
}
main.bekräftad-resa section p {
  margin: 0 1rem;
}
main.bekräftad-resa section p a {
  color: #0a364c;
}
main.bekräftad-resa section p a:hover {
  color: #115679;
}

@media screen and (max-width: 768px) {
  main.bekräftad-resa .travel-information {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  main.bekräftad-resa .travel-information .info-card {
    width: 30rem;
    margin-bottom: 2rem;
  }
  main.bekräftad-resa .travel-information .info-card p {
    text-align: start;
  }
  main.bekräftad-resa .travel-information p.notice {
    font-size: 1.6rem;
  }
}
main.genomförd-resa .travel-information {
  width: 60rem;
}
main.genomförd-resa .travel-information .travel-status-info-cards {
  width: 22rem;
  margin: auto;
  margin-bottom: 5rem;
}
main.genomförd-resa .travel-information .travel-status-info-cards .info-card {
  margin-bottom: 1.5rem;
}
main.genomförd-resa .travel-information .destination-info-cards {
  margin-bottom: 3rem;
}
main.genomförd-resa .travel-information .destination-info-cards .info-card {
  margin-bottom: 1rem;
}
main.genomförd-resa .travel-information .info-card {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  margin-bottom: 3rem;
  color: #202e45;
}
main.genomförd-resa .travel-information .info-card p {
  text-align: start;
}
main.genomförd-resa .travel-information .info-card img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
main.genomförd-resa .travel-information .info-card img.message {
  align-self: flex-start;
}
main.genomförd-resa section h2 {
  text-align: center;
}
main.genomförd-resa section p {
  margin: 0 1rem;
}
main.genomförd-resa section p a {
  color: #0a364c;
}
main.genomförd-resa section p a:hover {
  color: #115679;
}

@media screen and (max-width: 768px) {
  main.genomförd-resa .travel-information {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  main.genomförd-resa .travel-information .info-card {
    width: 30rem;
    margin-bottom: 2rem;
  }
  main.genomförd-resa .travel-information .info-card p {
    text-align: start;
  }
}
main.avbokad-resa .travel-information {
  width: 60rem;
}
main.avbokad-resa .travel-information .travel-status-info-cards {
  width: 22rem;
  margin: auto;
  margin-bottom: 5rem;
}
main.avbokad-resa .travel-information .travel-status-info-cards .info-card {
  margin-bottom: 1.5rem;
}
main.avbokad-resa .travel-information .destination-info-cards {
  margin-bottom: 3rem;
}
main.avbokad-resa .travel-information .destination-info-cards .info-card {
  margin-bottom: 1rem;
}
main.avbokad-resa .travel-information .info-card {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  margin-bottom: 3rem;
  color: #202e45;
}
main.avbokad-resa .travel-information .info-card p {
  text-align: start;
}
main.avbokad-resa .travel-information .info-card img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
main.avbokad-resa .travel-information .info-card img.message {
  align-self: flex-start;
}
main.avbokad-resa section h2 {
  text-align: center;
}
main.avbokad-resa section p {
  margin: 0 1rem;
}
main.avbokad-resa section p a {
  color: #0a364c;
}
main.avbokad-resa section p a:hover {
  color: #115679;
}

@media screen and (max-width: 768px) {
  main.avbokad-resa .travel-information {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  main.avbokad-resa .travel-information .info-card {
    width: 30rem;
    margin-bottom: 2rem;
  }
  main.avbokad-resa .travel-information .info-card p {
    text-align: start;
  }
}
main.ändra-resa .button-container {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 3rem;
}

main.tillgänglighetsredogörelse section {
  margin: 1rem 0;
  max-width: 60rem;
}
main.tillgänglighetsredogörelse section h2 {
  margin: 0;
  line-height: 3rem;
}
main.tillgänglighetsredogörelse section h3 {
  font-weight: 700;
  margin: 0;
}
main.tillgänglighetsredogörelse section p {
  margin: 1.4rem 0;
  text-align: start;
}

@media screen and (max-width: 768px) {
  main.tillgänglighetsredogörelse section {
    width: 100%;
  }
  main.tillgänglighetsredogörelse section h2 {
    margin: 0 1rem;
  }
  main.tillgänglighetsredogörelse section h3 {
    margin: 0 1rem;
  }
  main.tillgänglighetsredogörelse section p,
  main.tillgänglighetsredogörelse section a.standalone-link {
    margin: 1.4rem 1rem;
  }
}/*# sourceMappingURL=style.css.map */